/* UI DEVELOPER : Rohan Mahadik
Start Date : 16-07-2024 */

/* Font css Start */
@font-face {
    font-family: 'Montserrat-Black';
    src: url('../fonts/Montserrat/fonts/Montserrat/Montserrat-Black.eot');
    src: url('../fonts/Montserrat/Montserrat-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Montserrat/Montserrat-Black.woff2') format('woff2'),
        url('../fonts/Montserrat/Montserrat-Black.woff') format('woff'),
        url('../fonts/Montserrat/Montserrat-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat-Bold';
    src: url('../fonts/Montserrat/Montserrat-Bold.eot');
    src: url('../fonts/Montserrat/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Montserrat/Montserrat-Bold.woff2') format('woff2'),
        url('../fonts/Montserrat/Montserrat-Bold.woff') format('woff'),
        url('../fonts/Montserrat/Montserrat-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat-ExtraBold';
    src: url('../fonts/Montserrat/Montserrat-ExtraBold.eot');
    src: url('../fonts/Montserrat/Montserrat-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Montserrat/Montserrat-ExtraBold.woff2') format('woff2'),
        url('../fonts/Montserrat/Montserrat-ExtraBold.woff') format('woff'),
        url('../fonts/Montserrat/Montserrat-ExtraBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat-ExtraLight';
    src: url('../fonts/Montserrat/Montserrat-ExtraLight.eot');
    src: url('../fonts/Montserrat/Montserrat-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Montserrat/Montserrat-ExtraLight.woff2') format('woff2'),
        url('../fonts/Montserrat/Montserrat-ExtraLight.woff') format('woff'),
        url('../fonts/Montserrat/Montserrat-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat-Italic';
    src: url('../fonts/Montserrat/Montserrat-Italic.eot');
    src: url('../fonts/Montserrat/Montserrat-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Montserrat/Montserrat-Italic.woff2') format('woff2'),
        url('../fonts/Montserrat/Montserrat-Italic.woff') format('woff'),
        url('../fonts/Montserrat/Montserrat-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat-Light';
    src: url('../fonts/Montserrat/Montserrat-Light.eot');
    src: url('../fonts/Montserrat/Montserrat-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Montserrat/Montserrat-Light.woff2') format('woff2'),
        url('../fonts/Montserrat/Montserrat-Light.woff') format('woff'),
        url('../fonts/Montserrat/Montserrat-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat-Medium';
    src: url('../fonts/Montserrat/Montserrat-Medium.eot');
    src: url('../fonts/Montserrat/Montserrat-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Montserrat/Montserrat-Medium.woff2') format('woff2'),
        url('../fonts/Montserrat/Montserrat-Medium.woff') format('woff'),
        url('../fonts/Montserrat/Montserrat-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat-Regular';
    src: url('../fonts/Montserrat/Montserrat-Regular.eot');
    src: url('../fonts/Montserrat/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Montserrat/Montserrat-Regular.woff2') format('woff2'),
        url('../fonts/Montserrat/Montserrat-Regular.woff') format('woff'),
        url('../fonts/Montserrat/Montserrat-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat-SemiBold';
    src: url('../fonts/Montserrat/Montserrat-SemiBold.eot');
    src: url('../fonts/Montserrat/Montserrat-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Montserrat/Montserrat-SemiBold.woff2') format('woff2'),
        url('../fonts/Montserrat/Montserrat-SemiBold.woff') format('woff'),
        url('../fonts/Montserrat/Montserrat-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat-Thin';
    src: url('../fonts/Montserrat/Montserrat-Thin.eot');
    src: url('../fonts/Montserrat/Montserrat-Thin.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Montserrat/Montserrat-Thin.woff2') format('woff2'),
        url('../fonts/Montserrat/Montserrat-Thin.woff') format('woff'),
        url('../fonts/Montserrat/Montserrat-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}


/* Font Css End */
/* Icomoon  Css Start */
@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?1hen04');
  src:  url('fonts/icomoon.eot?1hen04#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?1hen04') format('truetype'),
    url('fonts/icomoon.woff?1hen04') format('woff'),
    url('fonts/icomoon.svg?1hen04#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
    content: "\ea90";
  }
  .icon-instagram:before {
    content: "\ea92";
  }
  .icon-twitter:before {
    content: "\ea96";
  }
  .icon-youtube:before {
    content: "\ea9d";
  }
  .icon-linkedin2:before {
    content: "\eaca";
  }
  .icon-arrow-right2:before {
    content: "\ea3c";
  }
  .icon-arrow-left2:before {
    content: "\ea40";
  }

@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/Icomoon/icomoon.eot?1hen04');
    src:  url('../fonts/Icomoon/icomoon.eot?1hen04#iefix') format('embedded-opentype'),
      url('../fonts/Icomoon/icomoon.ttf?1hen04') format('truetype'),
      url('../fonts/Icomoon/icomoon.woff?1hen04') format('woff'),
      url('../fonts/Icomoon/icomoon.svg?1hen04#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-facebook:before {
    content: "\ea90";
  }
  .icon-instagram:before {
    content: "\ea92";
  }
  .icon-twitter:before {
    content: "\ea96";
  }
  .icon-youtube:before {
    content: "\ea9d";
  }
  .icon-linkedin2:before {
    content: "\eaca";
  }
  
/* Icomoon Css End */
/* Global Css Start */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat-Regular';
    line-height: normal;
}
ul{
    margin: 0;
    padding: 0;
}
ul li{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: #fff;
}
p{
    margin: 0;
}
.section-padding{
    padding: 60px 0;
}
h1,h2,h3,h4,h5,h6{
    color: #0e1920;
}
/* Global Css End */

/* Header Top Css Start */
.header__top{
    font-family: 'Montserrat-Bold';
    padding: 15px 0;
    text-transform: uppercase;
    background-color: #7fffff;
    background-image: linear-gradient(135deg, #7fffff 0%, #9599E2 100%);

}
.header__top ul{
    display: flex;
    align-items: center;
    gap: 25px;
    font-family: 'Montserrat-Bold';
    justify-content: flex-end;
}
.header__top ul li a{
    font-family: 'Montserrat-SemiBold';
    color: #fff;
    font-size: 14px;
}
/* Header Top Css End */

/* Banner Section Start */
.header__banner{
    position: relative;
}
div#navbarSupportedContent {
    flex: 0;
   
}
.header__banner nav li a{
    white-space: nowrap;
    color: #fff;
    font-family: 'Montserrat-Bold';
    font-size: 16px;
}
.header__banner nav{
    position: absolute;
    width: 100%;
    top: 4%;
    z-index: 1;
}
.navbar-brand{
    color: #fff;
    font-family: 'Montserrat-Bold';
}

.header__video{
    width: 100%;
    height: calc(100vh - 50px);
    /* background-color: red; */

}
.header__video::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, black, transparent);
    top: 0;

}
.header__videocontainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:  calc(100vh - 50px);
    overflow: hidden;
    z-index: -1; /* Ensures the video is behind the content */
}
.header__nav{
    gap: 35px;
}
#background-video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100vw;
    height: 100vh;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    object-fit: cover;
}
.header__videocontent {
    position: relative;
    z-index: 2;
    color: white;
    text-align: center;
    top: 80%;
    transform: translateY(-80%);
    width: 100%;
    display: flex;
    align-items: end;
    justify-content: space-between;
}
.header__videocontent h1{
    width: 60%;
    text-align: start;
    font-family: 'Montserrat-Bold';
    line-height: normal;
    letter-spacing: normal;
    color: #fff;
    
}
.header__videocontent span{
    color:#7fffff;
    font-family: 'Montserrat-ExtraBold';
}
.btn-videoplay{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#7fffff;
    border-radius: 50px;
    border: 0;
    
}

.btn-videoplay span{
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 15px solid #000;
    transform: rotate(90deg);
    margin-left: 5px;
}
.header__banner a.btn.primary-btn{
    border: 2px solid #7fffff;
    color: #7fffff;
    border-radius: 50px;
    padding-right: 15px ;
    padding-left: 15px ;
}
/* Banner Section End */
/* Footer Css Start */
.footer__copyright{
    background-color: #0b1820;
    color: #fff;
    font-family: 'Montserrat-Bold';
    padding: 10px 0;
}
.footer__copyright span{
    color:#7fffff;
}
.footer__logo{
    width: 0;
    height: 0;
    border-left: 18px solid transparent;
    border-right: 18px solid transparent;
    border-bottom: 30px solid #7fffff;
    position: relative;
    top: -35px;
}
.footer__logocaption{
    font-size: 12px;
    text-transform: uppercase;
}
.footer__socialist{
    display: flex;
    gap: 25px;
    justify-content: center;
    margin: 10% 0;
    
}
.footer__links{
    display: flex;
    gap: 25px;
    justify-content: center;
    margin: 5% 0;
    
}
.footer__socialist  li a span{
    color: #0e1b20;
    font-size: 25px;
}
.footer__links li a{
    color: #595959;
    font-family: 'Montserrat-Bold';
    text-transform: uppercase;
    white-space: nowrap;
}
.footer__copyrights{
    font-size: 14px;
    color: #000;
    margin-bottom: 3%;
}
.footer__developer{
    font-size: 12px;
    color: #000;
    color: gray;
    
}
.footer__tent{
    padding-top: 10%;
}
/* Footer Css End */
/* Became Partner Css Start */
.partner{
    background-color: #0b1820;
}
.partner__title{
    letter-spacing: 10px;
    color: #fff;
    margin-top: 3%;
    font-family: 'Montserrat-Bold';
}
.partner__para{
    margin-top: 5%;
    color: #fff;
}
.primary-btn-partner{
    border: 2px solid #ffff;
    color: #ffff;
    border-radius: 50px;
    padding-right: 15px;
    padding-left: 15px;
    margin: 5% auto 15% auto;
    width: 30%;

}
.footer__tent.partner-data{
    margin-top: 8%;
}
.top-partner{
    padding: 30px 0;
    background-color: #7fffff;
    background-image: linear-gradient(135deg, #7fffff 0%, #9599E2 100%);
}
/* Became Partner Css End*/
/* What New Css Start */
.whatnew__titlesection p{
    color:#de3e4d;
    font-family: 'Montserrat-SemiBold';
    text-transform: uppercase;
    font-size: 12px;
    margin-bottom: 1%;
    letter-spacing: 5px;
}
.whatnew__titlesection h4{
    font-size: 28px;
    font-family: 'Montserrat-Bold';
    padding-bottom: 20px;
    position: relative;
   
}
.whatnew__titlesection h4::after{
    content:'';
    position: absolute;
    width: 30px;
    height: 3px;
    background-color:#de3e4d;
    bottom: 0;
    margin: 0 auto;
    left: 0;
    right: 0;


}
.whatnew__grid{
    margin: 3% auto;
    
}
.whatnew__wrapper{
    gap: 15px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
    
}
.whatnew__wrapperitem{
    width:calc(50% - 7.5px);
    min-height: 500px;
    height: 100%;
    background-color: #ebebeb;
    
}
.whatnew__connecthuwithus{
    background-color: #ebebeb;
    box-shadow: 0 0 11px rgb(33 33 33 / 9%); 
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.whatnew__data{
    text-align: center;
    /* position: absolute;
    transform: translate(-50%,-50%);
    width: 100%;
    top: 50%;
    left: 50%; */
}
.whatnew__data p{
font-size: 14px;
letter-spacing: 5px;
margin-bottom: 25px;
color: #1d2023;
}
.whatnew__data ul{
    margin: 10px 0;
}
.whatnew__data .footer__socialist li a span{
    color:#444444;
}
.whatnew__tweet{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #7e4b86;
    position: relative;
}
.whatnew__tweetcontent{
    width: 70%;
    margin: 0 auto;
    
}
.whatnew__tweetcontent p{
    color: #fff;
    font-size: 18px;
    font-family: 'Montserrat-SemiBold';
    text-align: center;
}
.whatnew__tweetcontent span{
    color: #fff;
    font-size: 12px;
    font-family: 'Montserrat-SemiBold';
    text-align: center;
    letter-spacing: 5px;
    margin-top: 3%;
    display: block;
    text-transform: uppercase;
}
.whatnew__tweetcontent  ul{
    position: absolute;
    bottom: 30px;
    margin: 0 auto;
    left: 0;
    right: 0;
}
.whatnew__tweetcontent  ul li span{
    font-size: 20px;
}
.whatnew__facebookinfo{
    background-color: #b8d169;
    color: #fff;
    font-size: 18px;
    font-family: 'Montserrat-SemiBold';
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 5%;
    position: relative;
   
}
.whatnew__facebookinfo,.whatnew__img{
    flex-basis: 250px;
}
.whatnew__facebookinfo span{
    margin-top: 10px;
}
.whatnew__facebookinfo ul{
    position: absolute;
    right: 40px;
    bottom: 70px;
}
/* What New Css End */
/* Client Section Start */
.client{
    background-color:#eeeeee;
}

.clients__items{
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-template-rows: repeat(2 ,200px);
    gap: 5px;
    
}
.clients__logo{
    background-color: red;
    
}
.client .owl-carousel .owl-item img {
    display: block;
    width: 100%;
    height: 100%;
}
.client .owl-nav .owl-prev, .owl-nav .owl-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    font-size: 2em; /* Adjust size as needed */
    color: #000; /* Adjust color as needed */
}

.client .owl-nav .owl-prev {
    left: -50px; /* Adjust position as needed */
}

.client .owl-nav .owl-next {
    right: -50px; /* Adjust position as needed */
}
/* Client Section End */
/* Airnub css start */
.airnub__content p,.airnub__content span{
    color: #0b1820;
}
.airnub__content p{
    margin:7% 0;
    line-height: 25px;
}
.airnub__content span{
    margin-bottom: 10%;
}
.airnub__videosection{
    min-height: 100%;
    background-color: #ddd;
    display: block;
    position: absolute;
    right: 0;
    top:-45px;
    width: 50%;
}
.airnub__content img{
    width: 100px;
    height: 100px;
}
#my-video,.airnub__videosection.starbucks-content img{
    
    width: 100%;
    max-height: 473px;

}
.vjs-poster img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
    object-fit: cover;
}
.video-js .vjs-big-play-button {
    font-size: 3em;
    line-height: 1.5em;
    height:50px;
    width: 50px;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 0;
    margin-top: -0.81666em;
    margin-left: -1.5em;
    cursor: pointer;
    opacity: 1;
    border:0;
    background-color:#7fffff;
   
    border-radius: 0.3em;
    transition: all 0.4s;
    border-radius: 50%;
}
 .video-js .vjs-big-play-button .vjs-icon-placeholder:before{
    color: #0b1820;
    top: 65%;
    left: 50%;
    transform: translate(-50%,-50%);
 }
/* Airnub Css end */
/* CEO Section CSS START */
.ceo,.partnership{
    background-color: #eeeeee;
}
.ceo__thoughts ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 200px;
    margin:0 auto;
}
.ceo__thoughts ul li img{
    width: 100px;
    height: 100px;
}
.ceo__thoughts .ceo__expression{
    font-size: 18px;
    font-family: 'Montserrat-SemiBold';
    margin: 3% auto 2% auto;
    width: 60%;
    text-align: center;
    color: #0b1820;
}
.ceo__name{
    font-family: 'Montserrat-ExtraBold';
    color: #0b1820;
    margin: 0 auto;
    width: 60%;
    text-align: center;
}
.ceo__impact{
    font-size: 12px;
    font-family: 'Montserrat-SemiBold';
    text-align: center;
    letter-spacing: 5px;
    margin: 3% auto 5% auto;
    display: block;
    text-transform: uppercase;
}
/* CEO SECTION CSS END */
/* Starbukcs CSS START */
.airnub__videosection.starbucks-content{
    left: 0;
}
/* Starbuks CSS END */
/* Partnership CSS START */
.whatnew__titlesection h3 {
    font-size: 28px;
    font-family: 'Montserrat-Bold';
    padding-bottom: 20px;
    position: relative;
}
.nav-link.btn.primary-btn-partner.primary-btn-partner--black{
    border-color: #0b1820;
    color: #0b1820;
    font-family: 'Montserrat-Bold';
    margin: 5% 0;
    max-width: 250px;
    width: 100%;
}
.partneship__data {
    font-size: 18px;
    line-height: 30px;
    color: #0b1820;
    font-family: 'Montserrat-SemiBold';
}

.partnesrhip__cardwrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 20%;
    position: relative;
    top: -120px;
}
.partnership__card{
    width: 33.33%;
  height: 400px;
  background-color: #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}
.partnership__card h5{
   position: absolute;
   bottom: 20px;
   color: #fff;
   font-family: 'Montserrat-SemiBold';
}
.card1{
    background-color: #f5a951;
}
.card2{
    background-color: #7e4b86;
    margin-top: -30px;
}
.card3{
    background-color: #e7535f;
}
.partnership__titlesection{
    padding-bottom: 8%;
}
.partnership{
    background-image: url('../Images/world.svg');
    background-repeat: no-repeat;
    background-size: 70% 100%;
    background-position:right;

}
/* Partnership CSS END */
/* NEW APPROCH CSS START */
.approch {
    background-color: #0b1820;
    color: #fff;
}
.approch .whatnew__titlesection p {
    color:#7fffff;
}
.approch .whatnew__titlesection h2 {
    color: #fff;
    font-size: 35px;
    width: 73%;
    font-family: 'Montserrat-SemiBold';
    letter-spacing: 5px;
}
.approch .partneship__data{
    color: #fff;
}
.approch .nav-link.btn.primary-btn-partner.primary-btn-partner--black{
    border-color: #7fffff;
    color: #7fffff;
}

.triangle {
    position: absolute;
    right: 0;
    top: -16%;
    height: 127%;
    width: 150%;
    background: url(../Images/family-picnic.jpg) center center;
    background-size: cover;
    transition: 0.4s cubic-bezier(1, -1, 0, 2);
    clip-path: polygon(50% 5%, 0% 100%, 100% 100%);
    left: -20%;
  }
 
  .partneship__data,.ceo__thoughts .ceo__expression,.airnub__content p,.whatnew__tweetcontent p,.whatnew__facebookinfo p,.partner__para{
    font-size: 18px;
    line-height: 30px;
}
  

/* NEW APPROCH CSS END*/
/* Media query */
/* Large Screen */
@media (min-width: 1400px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1400px;
    }
}
@media (max-width: 1440px) {
    .client .owl-nav .owl-prev {
        left: -20px;
    }
    .client .owl-nav .owl-next{
        right: -20px;
    }   
    .header__nav{
        gap:15px;
    }
    .header__videocontent h1{
        font-size: 26px;
    }
    .approch .whatnew__titlesection h2{
        font-size: 24px;
        width: 81%;
    }
}
@media (max-width: 1366px) {
    .client .owl-nav .owl-prev {
        left: -25px;
    }
    .client .owl-nav .owl-next{
        right: -25px;
    }   
    .partneship__data,.ceo__thoughts .ceo__expression,.airnub__content p,.whatnew__tweetcontent p,.whatnew__facebookinfo p,.partner__para{
        font-size: 16px;
        line-height: 28px;
    }
}
@media (max-width: 1200px) {
    .header__top ul li a{
        font-size: 12px;
    } 
    .header__banner nav li a,.footer__links li a{
        font-size: 14px;
    }
    
}
@media (max-width:992px){
    .navbar-toggler{
        padding: 0;
        border: 0;
    }
    .navbar-toggler:focus{
        box-shadow: none;
    }
    .primary-btn-partner{
        width: 40%;
    }
    .header__top{
        padding: 10px 0;
    }
    .navbar-brand img{
        height: 40px;
    }
    .navbar .container{
        align-items: flex-start;
    }
    .wrapper-menu{
       
    position: absolute;
    right: 0;
    max-width: 250px;
    width: 100%;
    display: flex;
    align-items: flex-end;
    flex-direction: column;

   
    }
    .header__nav{
        border-radius: 10px;
        background-color: #0b1820;
        padding: 15px;  
    }
    /* .navbar-toggler svg{
        position: relative;
        left: -100px;
    } */
    .partnership__card h5 {
        font-size: 16px;
    }
    .client .owl-carousel.owl-loaded.owl-drag{
        overflow: hidden;
    }
}


@media (max-width: 767px) {
    
    .partnership__card h5 {
        font-size: 18px;
        position: static;
        margin-top: 15px;
    }
    
    .header__videocontent{
        flex-direction: column;
        align-items: flex-start;
    }
    .header__videocontent h1{
        width: 100%;
    }
    .btn-videoplay {
        align-self: end;
    }
    .triangle{
        height: 500px;
        width: 100%;
        position: static;
        
    }
    .partnership__titlesection{
        padding-bottom: 0;
    }
    .partnesrhip__cardwrapper{
        flex-wrap: wrap;
    }
    .partnership__card{
        width: 100%;
    }
    .airnub__videosection{
        position: static;
        height: 500px;
        margin-bottom: 3%;
        width: 100%;
    }
    .section-padding.airnub.position-relative .col-md-6{
        margin-top: 15px;
    }
    .whatnew__wrapperitem{
        width: 100%;
    }
    .footer__links{
        flex-direction: column;
    }
    .client .owl-nav .owl-prev, .owl-nav .owl-next{
        right: 0;
        left: 0;
        position: absolute;
        top: unset;
    }
    .owl-nav{
        margin-top: 5%;
    }
    .icon-arrow-right2{
        margin-left: 20px;
    }
    .clients__items {
        grid-template-rows: repeat(2, 100px);
        gap: 5px;
    }
    .ceo__thoughts .ceo__expression{
        width: 100%;
    }
    .header__top ul{
        gap: 5px;
    }
}